@page "/ApiDoc/ApiDocDetail"

 @using Robot.Data.CIMSDB;
@using Robot.Data.DA.Cims
@using Robot.Pages.ApiDoc.SamleFactory
@inject ApiMasterService apimasterService
<style>
    .k-button-lg {
        padding: 13px 8px;
    }

    .k-listview-content {
        background-color: #F5F5F5;
    }

    .card-body:hover.cate {
        border-color: #696cff;
        color: white;
        background-color: #696cff;
    }

    .active {
        border-color: #696cff;
        color: white;
        background-color: #696cff;
    }

    .breadcrumb-wrapper {
        max-width: calc(390px + 6em) !important;
    }

    .k-breadcrumb {
        font-size: 1.3rem;
    }

    .k-editor-toolbar, .k-editor > .k-toolbar {
        display: none;
    }

    /*.k-button-solid-primary {
            border-color: #696cff;
            background-color: #696cff;
        }*/
</style>

<SpinLoader IsLoading="isLoading">
    <LoadingTemplate>
        <div class="col-12 text-center" style="background-color: transparent; height: 100%; vertical-align: middle;">
            <br /><br />
            <div class="row pt-2">
                <div class="col-10 mx-auto">
                    <label style="color:orange; font-size:x-large;">... รอโหลดสักครู่ ...</label><br /><br /><br /><br />
                    <CircleFade Color="orange" Size="100px" Center="true" />
                </div>
            </div>
        </div>
    </LoadingTemplate>
    <ContentTemplate>

        <div class="row pt-4">
            <div class="col-md-10 col-sm-11 col-12 mx-auto">
                <TelerikBreadcrumb Data="@Itemsbreadcrumb" Class="13rem"></TelerikBreadcrumb>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-10 col-sm-11 col-12 mx-auto">
                <h5>@apimasterService.DocSet.Head.api_name</h5>
            </div>
        </div>

        <div class="row pt-3 pb-2">
            <div class="col-md-10 col-sm-11 col-12 mx-auto">
                <TelerikTabStrip TabPosition=@(Telerik.Blazor.TabPosition.Top)>
                    <TabStripTab Title="อธิบายการใช้งาน">
                        <div class="row pt-3">
                            <div class="col-3">
                                <b>Api Code</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.api_id</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <b>Description</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.api_desc</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <b>api-url</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.base_url@apimasterService.DocSet.Head.api_url_external</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <b>Method</b>
                            </div>
                            <div class="col-9">
                                @if (apimasterService.DocSet.Head.method == "GET") {
                                    <p style="background-color: #00ba19 !important;font-size:small;" class="badge rounded-pill bg-success">@apimasterService.DocSet.Head.method</p>
                                } else {
                                    <p style="font-size:small;" class="badge rounded-pill bg-warning text-dark">@apimasterService.DocSet.Head.method</p>
                                }
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <b>Authen type</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.authen</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <b>Update frequency</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.update_frequency</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-3">
                                <b>ติดต่อผู้ดูแล</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.contact</p>
                            </div>
                        </div>
                           <div class="row pt-2">
                            <div class="col-3">
                                <b>หมายเหตุ</b>
                            </div>
                            <div class="col-9">
                                <p>@apimasterService.DocSet.Head.remark</p>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <div class="accordion" id="accordioninput">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseinput" aria-expanded="true" aria-controls="collapseinput">
                                                Field description (Input)
                                            </button>
                                        </h2>
                                        <div id="collapseinput" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordioninput">
                                            <div class="accordion-body">
                                                <table class="table table-bordered table-responsive">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col">Field ID</th>
                                                            <th scope="col">Data Type</th>
                                                             <th scope="col">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var l in apimasterService.DocSet.paramLine.Where(o => o.param_type == "INPUT")) {
                                                            <tr>
                                                                <td scope="col">@l.field_id</td>
                                                                <td scope="col">@l.data_type</td>
                                                                <td scope="col">@l.description</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-12">
                                <div class="accordion" id="accordionoutput">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingoutput">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseoutput" aria-expanded="true" aria-controls="collapseoutput">
                                                Field description (Output)
                                            </button>
                                        </h2>
                                        <div id="collapseoutput" class="accordion-collapse collapse show" aria-labelledby="headingoutput" data-bs-parent="#collapseoutput">
                                            <div class="accordion-body">
                                                <table class="table table-bordered table-responsive">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col">Field ID</th>
                                                            <th scope="col">Data Type</th>
                                                            <th scope="col">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var l in apimasterService.DocSet.paramLine.Where(o => o.param_type == "OUTPUT")) {
                                                            <tr>
                                                                <td scope="col">@l.field_id</td>
                                                                <td scope="col">@l.data_type</td>
                                                                <td scope="col">@l.description</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (!string.IsNullOrEmpty(apimasterService.DocSet.Head.parameter_sample)) {
                            <div class="row pt-2">
                                <div class="col-12">
                                    <div class="accordion" id="accordionusage">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingusage">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseusage" aria-expanded="true" aria-controls="collapseusage">
                                                    ตัวอย่างการใช้งาน API
                                                </button>
                                            </h2>
                                            <div id="collapseusage" class="accordion-collapse collapse show" aria-labelledby="headingusage" data-bs-parent="#collapseusage">
                                                <div class="accordion-body">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <strong>ตัวอย่างเรียกใช้ (Request) &nbsp;&nbsp;</strong>
                                                                <label style="font-size:small;" class="badge rounded-pill bg-warning text-dark">@apimasterService.DocSet.Head.method</label>
                                                                <br /><br />
                                                                <TelerikEditor @bind-Value="@apimasterService.DocSet.Head.parameter_sample"
                                                                       Tools="@Tools"
                                                                       Height="300px">
                                                                </TelerikEditor>
                                                        </div>
                                                    </div>

                                                    <div class="row pt-4">
                                                        <div class="col-12">
                                                            <strong>ตัวอย่างผลลัพธ์ (Responds)</strong>
                                                            <TelerikEditor @bind-Value="@apimasterService.DocSet.Head.output_sample"
                                                                       Tools="@Tools"
                                                                       Height="600px">
                                                            </TelerikEditor>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </TabStripTab>
                    <TabStripTab Title="แสดงข้อมูลตัวอย่าง">
                        <div class="row" style="height:600px">
                            <div class="col-12">
                                <Factory apiID="@apimasterService.DocSet.Head.api_id"></Factory>
                            </div>
                        </div>
                    </TabStripTab>
                </TelerikTabStrip>
            </div>
        </div>

    </ContentTemplate>
</SpinLoader>

@code {
    bool isLoading = true;
    bool collapse1Visible = true;
    public string SearchText { get; set; } = "";

    public List<IEditorTool> Tools { get; set; } =
    new List<IEditorTool>() {
        //new FontFamily()
    };

    //set breadcrumb
    public IEnumerable<BreadcrumbItem> Itemsbreadcrumb = new List<BreadcrumbItem>();

    public class BreadcrumbItem {
        public string Icon { get; set; }
        public string Text { get; set; }
        public string Url { get; set; }
    }

    //set breadcrumb
    protected override void OnInitialized() {
        Itemsbreadcrumb = new List<BreadcrumbItem>
            {
            //new BreadcrumbItem {  Url = $"{baseUrl}", Icon = "home" },
            new BreadcrumbItem { Text = "รายการ API", Url = $"ApiDoc/ApiDocList" },
            new BreadcrumbItem { Text = "ข้อมูล API", Url = $"ApiDoc/ApiDocDetail" },
        };
    }

    protected override async Task OnInitializedAsync() {        
        await Task.Run(() => CheckIsRefresh());
        await Task.Run(LoadData);
        await InvokeAsync(StateHasChanged);
    }

    async Task CheckIsRefresh() {
        if (apimasterService.DocSet == null) {
            var docid = await sessionStorage.GetItemAsync<string>(ApiMasterService.sessionActiveId);
            if (!string.IsNullOrEmpty(docid)) {
                apimasterService.DocSet = apimasterService.GetDocSet(docid);
            } else {
                nav.NavigateTo($"ApiDoc/ApiDocList", false);
            }
        }
    }

    async void LoadData() {
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }

}
