@page "/PublishDocument/MainPublication"

@using RobotWasm.Client.Data.DA.Board
@using RobotWasm.Client.Pages.DPMBoard.ML
@using RobotWasm.Client.Pages.PublishDocument
@using System.Text.Json
@using RobotWasm.Shared.Data.ML.DPMBaord.BoardData
@using RobotWasm.Shared.Data.ML.PublishDoc;
@using System.Text
@using RobotWasm.Shared.Data.ML.Shared
@using Blazorise

<style>

    .top-menu {
        position: initial;
        top: 70px;
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 1;
    }

    /*@@media only screen and (min-width: 290px) {
            div.top-menu {
                justify-content:flex-start !important;
            }
        }*/

    @@media only screen and (min-width: 700px) {
        div.top-menu {
            justify-content: center !important;
        }
    }

    .k-window {
        left: 0pxx !important;
        width: 0pxx !important;
        height: 600pxx !important;
        min-width: 120pxx !important;
        min-height: 100pxx !important;
    }

</style>


<TopMenu></TopMenu>

<TelerikWindow Class="telerik-pop col-md-6 col-sm-8 col-11 mx-auto" Centered="true"
               Modal="true" @bind-Visible="@isPopupMain">
    <WindowTitle>
        <strong>INFO</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" OnClick="@(() => isPopupMain = false)" />
    </WindowActions>
    <WindowContent>
        <PopupEditPublishDocument source="publishdoc"></PopupEditPublishDocument>
    </WindowContent>
</TelerikWindow>

<div class="row pt-1">
    <div class="col-12 text-center">
        <h4>Data Governance Framework</h4>
    </div>
</div>

@if (!isLoading) {

    @if (_publishDocService.ListDocSet != null) {
        <div class="row pt-3">
            <div class="col-lg-8 col-md-10 col-sm-11 col-12 mx-auto">

                @foreach (var l in _publishDocService.ListDocSet.ListHead.Where(o => o.data_key != "data_manual").OrderBy(o => o.id)) {
                    <div class="row pt-2">
                        <div class="col-2 text-end pe-0">
                            <img src="img/dpmlogo_circle.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                        </div>
                        <div class="col-10">
                            <div class="row pb-3 pt-2">
                                <div class="col-8">
                                    <a @onclick="@(() => { l.IsVisible = !l.IsVisible; })">
                                        <b>@l.title</b>
                                    </a>
                                </div>
                                @if (isEdit) {
                                    <div class="col-4 text-end">
                                        <a @onclick="@(() => OnEdit(l))">
                                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                            @if (l.IsVisible) {
                                <div class="row">
                                    <div class="col-12">
                                        <p>@l.message</p>
                                    </div>
                                </div>
                            }

                            @if (!l.IsVisible) {
                                <div class="row">
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    @if (l.IsVisible) {
                        <div class="row pt-2 pb-3">
                            <div class="col-2 text-end pe-0">
                                <img src="img/documents.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                            </div>
                            <div class="col-10 pt-2">
                                <b>เอกสารดาวน์โหลด</b>
                            </div>

                            <div class="row pt-3">
                                @foreach (var a in _publishDocService.ListDocSet.ListLine.Where(o => o.data_key == l.data_key).OrderBy(o => o.sort)) {
                                    <div class="col-2 text-end pe-0">
                                        <span class="text-danger"><i class="fa-solid fa-file-arrow-down fa-lg"></i></span>
                                    </div>

                                    <div class="col-10">
                                        <div class="row pb-3">
                                            <div class="col-12">
                                                <a @onclick="@(() => DownloadFIle(a.file_id))">
                                                    <span class="text-dark">@a.filename</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @*                            <div class="col-2 text-end pe-0">
                                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                                    </div>

                                    <div class="col-10">
                                    <div class="row pb-3">
                                    <div class="col-12">
                                    <a href="/Document/pdf-test.pdf" download>
                                    <span class="text-dark">pdf-test2.pdf</span>
                                    </a>
                                    </div>
                                    </div>
                                    </div>*@

                            </div>
                        </div>
                    }

                }




                @*            @if (isShowdataRules) {
                    กฎเกณฑ์ข้อมูล Data Rules

                    <div class="row pt-2">
                    <div class="col-2 text-end pe-0">
                    <img src="img/dpmlogo_circle.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                    </div>
                    <div class="col-10">
                    <div class="row pb-3 pt-2">
                    <div class="col-12">
                    <a @onclick="@DataRow1">
                    <b>กฎเกณฑ์ข้อมูล Data Rules</b>
                    </a>
                    </div>
                    </div>
                    @if (isShowdatarow1) {
                    <div class="row">
                    <div class="col-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>
                    </div>
                    }

                    @if (!isShowdatarow1) {
                    <div class="row">
                    <div class="col-12">
                    <hr />
                    </div>
                    </div>
                    }

                    </div>
                    </div>

                    @if (isShowdatarow1) {
                    <div class="row pt-2 pb-3">
                    <div class="col-2 text-end pe-0">
                    <img src="img/documents.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                    </div>
                    <div class="col-10 pt-2">
                    <b>เอกสารดาวน์โหลด</b>
                    </div>

                    <div class="row pt-3">
                    <div class="col-2 text-end pe-0">
                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                    </div>

                    <div class="col-10">
                    <div class="row pb-3">
                    <div class="col-12">
                    <a href="/Document/pdf-test.pdf" download>
                    <span class="text-dark">pdf-test.pdf</span>
                    </a>
                    </div>
                    </div>
                    </div>

                    <div class="col-2 text-end pe-0">
                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                    </div>

                    <div class="col-10">
                    <div class="row pb-3">
                    <div class="col-12">
                    <a href="/Document/pdf-test.pdf" download>
                    <span class="text-dark">pdf-test2.pdf</span>
                    </a>
                    </div>
                    </div>
                    </div>

                    </div>

                    </div>
                    }

                    นโยบายข้อมูล Data Policies

                    <div class="row pt-2">
                    <div class="col-2 text-end pe-0">
                    <img src="img/dpmlogo_circle.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                    </div>
                    <div class="col-10">
                    <div class="row pb-3 pt-2">
                    <div class="col-12">
                    <a @onclick="@DataRow2">
                    <b>นโยบายข้อมูล Data Policies</b>
                    </a>
                    </div>
                    </div>
                    @if (isShowdatarow2) {
                    <div class="row">
                    <div class="col-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>
                    </div>
                    }

                    @if (!isShowdatarow2) {
                    <div class="row">
                    <div class="col-12">
                    <hr />
                    </div>
                    </div>
                    }

                    </div>
                    </div>

                    @if (isShowdatarow2) {
                    <div class="row pt-2 pb-3">
                    <div class="col-2 text-end pe-0">
                    <img src="img/documents.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                    </div>
                    <div class="col-10 pt-2">
                    <b>เอกสารดาวน์โหลด</b>
                    </div>

                    <div class="row pt-3">
                    <div class="col-2 text-end pe-0">
                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                    </div>

                    <div class="col-10">
                    <div class="row pb-3">
                    <div class="col-12">
                    <a href="/Document/pdf-test.pdf" download>
                    <span class="text-dark">pdf-test.pdf</span>
                    </a>
                    </div>
                    </div>
                    </div>

                    <div class="col-2 text-end pe-0">
                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                    </div>

                    <div class="col-10">
                    <div class="row pb-3">
                    <div class="col-12">
                    <a href="/Document/pdf-test.pdf" download>
                    <span class="text-dark">pdf-test2.pdf</span>
                    </a>
                    </div>
                    </div>
                    </div>

                    </div>

                    </div>
                    }

                    มาตรฐานข้อมูล Data Standards

                    <div class="row pt-2">
                    <div class="col-2 text-end pe-0">
                    <img src="img/dpmlogo_circle.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                    </div>
                    <div class="col-10">
                    <div class="row pb-3 pt-2">
                    <div class="col-12">
                    <a @onclick="@DataRow3">
                    <b>มาตรฐานข้อมูล Data Standards</b>
                    </a>
                    </div>
                    </div>
                    @if (isShowdatarow3) {
                    <div class="row">
                    <div class="col-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    </div>
                    </div>
                    }

                    @if (!isShowdatarow3) {
                    <div class="row">
                    <div class="col-12">
                    <hr />
                    </div>
                    </div>
                    }
                    </div>
                    </div>
                    @if (isShowdatarow3) {
                    <div class="row pt-2 pb-3">
                    <div class="col-2 text-end pe-0">
                    <img src="img/documents.png" class="rounded-circle" alt="" style="width:40px;height:auto;">
                    </div>
                    <div class="col-10 pt-2">
                    <b>เอกสารดาวน์โหลด</b>
                    </div>

                    <div class="row pt-3">
                    <div class="col-2 text-end pe-0">
                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                    </div>

                    <div class="col-10">
                    <div class="row pb-3">
                    <div class="col-12">
                    <a href="/Document/pdf-test.pdf" download>
                    <span class="text-dark">pdf-test.pdf</span>
                    </a>
                    </div>
                    </div>
                    </div>

                    <div class="col-2 text-end pe-0">
                    <span class="text-danger"><i class="fa-solid fa-file-pdf fa-lg"></i></span>
                    </div>

                    <div class="col-10">
                    <div class="row pb-3">
                    <div class="col-12">
                    <a href="/Document/pdf-test.pdf" download>
                    <span class="text-dark">pdf-test2.pdf</span>
                    </a>
                    </div>
                    </div>
                    </div>
                    </div>

                    </div>
                    }
                    }*@
            </div>
        </div>

    }

} else {
    <div class="loader-container">
        <TelerikLoader Class="loader-indicator" Type="@LoaderType.ConvergingSpinner" Size="@(ThemeConstants.Loader.Size.Large)"></TelerikLoader>
    </div>
}

@code {

    private bool isLoading = false;
    string menuCaption = "";
    private bool isEdit = true;
    public bool isPopupMain { get; set; } = false;

    protected override void OnInitialized() {

    }

    protected override async Task OnInitializedAsync() {
        isLoading = true;
        await Task.Run(() => login.CheckLogin());
        await Task.Run(LoadData);
        await Task.Run(LoadGrdPublishDoc);
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected async Task LoadData() {


        await SetActiveControl();
        await InvokeAsync(StateHasChanged);
    }

    async Task SetActiveControl() {
        await CheckPermission();
    }

    async Task CheckPermission() {
        var Permissionmenu = login.LogInInfo.UserInMenu.Where(o => o.MenuID == "436").FirstOrDefault();
        if (Permissionmenu==null) {
            isEdit = false;
        }else {
            if (!Convert.ToBoolean(Permissionmenu.IsOpen)) {
                isEdit = false;
            }
        }

    }

    async Task LoadGrdPublishDoc() {
        _publishDocService.ListDocSet = await Task.Run(() => _publishDocService.GetListPublishDoc());
    }

    async void OnEdit(xpublish_doc_head data) {
        isPopupMain = true;
        await sessionStorage.SetItemAsync(Globals.ActiveID_DataKey, data.data_key);
        _publishDocService.DocSet = await _publishDocService.GetDocSet(data.data_key);
        await InvokeAsync(StateHasChanged);
    }

    public async void DownloadFIle(string file_id) {
        try {
            string file_url = await _filego.GetFileUrlPostgres(file_id);
            if (!string.IsNullOrEmpty(file_url)) {
                nav.NavigateTo(file_url, true);
            }
        } catch {

        }
    }

}
