@page "/User/UserDetail"
@using Robot.Helper.Hash

@*@using CurrieTechnologies.Razor.SweetAlert2
@using Microsoft.JSInterop
@using Robot.Data.DA
@using Robot.Data.ML
@using Robot.Data.GADB.TT
@using System.Threading.Tasks;
@using Blazored.LocalStorage;
@using Robot.Data.DA.POSSY
@using Robot.Helper.Hash

@inject LogInService login
@inject ILocalStorageService localStorage
@inject IJSRuntime JsRuntime
@inject NavigationManager nav
@inject SweetAlertService Swal*@
@inject MyUserService userService
@inject PageHistoryState pageHistory

<style>
    .seagreen {
        background-color: seagreen;
    }

    .hidden {
        visibility: hidden;
        display: none;
    }
</style>

<SpinLoader IsLoading="isLoading">
    <LoadingTemplate>
        <div class="col-12 text-center" style="background-color: transparent; height: 100%; vertical-align: middle;">
            <br /><br />
            <div class="row pt-2">
                <div class="col-10 mx-auto">
                    <label style="color:orange; font-size:x-large;">... รอโหลดสักครู่ ...</label><br /><br /><br /><br />
                    <CircleFade Color="orange" Size="100px" Center="true" />
                </div>
            </div>
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <div class="row">
        <div class="col-md-6">
 <a @onclick="Back">
                                <i class="fas fa-reply-all"></i>&nbsp;กลับ

                            </a>
</div>

            <div class="col-6 text-end"> 
                <div class="btn-group" role="group" aria-label="Basic example">
                                            <a ID="btnNew" class="btn btn-info text-black" @onclick="@btnNew">
                                                <span>New</span>
                                            </a>
                                            <a ID="btnSave" class="btn btn-success text-black" @onclick="@btnSave">
                                                <span>Save</span>
                                            </a>
                                        </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 ">
                <div class="row pt-2">
                    <div class="col-md-12">
                        <div class="card">


                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="row" style="font-size: smaller">
                                                    <div class="col-md-3">
                                                        <span>ชื่อผู้ใช้งาน</span>
                                                                <TelerikTextBox PlaceHolder="" @bind-Value="@Username" Enabled="@username_readonly" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        

                                                        <span>EmpCode</span>
                                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.EmpCode" />
                                                    </div>

                                                    <div class="col-md-3">
                                                        <span>เลขประจำตัวประชาชน 13 หลัก</span>
                                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.CitizenId" />
                                                    </div>

                                                      @if (isShowDelete) {
                                                                <div class="col-md-2 pt-4">
                                                                    <TelerikCheckBox Id="chkIsActive" @bind-Value="@userService.DocSet.User.IsActive"></TelerikCheckBox>
                                                                    <span style="font-size:large;">ใช้งาน</span>
                                                                </div>
                                                            }
                                                </div>

                                                <div class="row pt-1" style="font-size: smaller">
                                                    <div class="col-md-3">
                                                       <span>ชื่อ</span> <span style="color: red; font-size: medium;">*</span>
                                                                <TelerikTextBox @bind-Value="@userService.DocSet.User.FirstName" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>นามสกุล</span> <span style="color: red; font-size: medium;">*</span>
                                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.LastName" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>Nickname</span>
                                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.NickName"
                                                                        Size="ThemeConstants.DropDownList.Size.Small" />
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span>เพศ</span>
                                                        <TelerikComboBox @bind-Value="@userService.DocSet.User.Gender"
                                                                         Data="@ListGender"
                                                                         TextField="@nameof(MasterTypeLine.Description1)"
                                                                         ValueField="@nameof(MasterTypeLine.ValueTXT)"
                                                                         Filterable="true"
                                                                         Width="100%">
                                                        </TelerikComboBox>
                                                    </div>
                                                </div>

                                                <div class="row pt-1" style="font-size: smaller">
                                                    <div class="col-md-3">
                                                        <span>ตำแหน่ง</span>
                                                        <TelerikComboBox @bind-Value="@userService.DocSet.User.PositionID"
                                                                         Data="@ListPosition"
                                                                         TextField="@nameof(MasterTypeLine.Description1)"
                                                                         ValueField="@nameof(MasterTypeLine.ValueTXT)"
                                                                         Filterable="true"
                                                                         Width="100%">
                                                        </TelerikComboBox>
                                                    </div>
                                                    <div class="col-md-3">
                                                       
                                                        <span>แผนก</span>
                                                                <TelerikComboBox Value="@userService.DocSet.User.DepartmentID"
                                                                         Data="@ListDepartment"
                                                                                 
                                                                                 TextField="@nameof(MasterTypeLine.Description1)"
                                                                                 ValueField="@nameof(MasterTypeLine.ValueTXT)"
                                                                                 Filterable="true"
                                                                                 Width="100%">
                                                                </TelerikComboBox>
                                                        
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <div class="row" style="color:white">
                                    <div class="col-md-10"><i class="fas fa-home"></i>&nbsp;<span>Contract Info</span></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row pt-1" style="font-size: smaller;">
                                   

                                    <div class="col-6 ">
                                       <span>ค้นหาที่อยู่</span>
                                                <TelerikComboBox Value="@SelectAddr"
                                                                 Data="@ListAddr"
                                                                 ScrollMode="@DropDownScrollMode.Virtual"
                                                                 ValueField="@(nameof(vw_ThaiPostAddress.FULLADDR))"
                                                                 TextField="@(nameof(vw_ThaiPostAddress.FULLADDR))"
                                                                 Width="100%" PageSize="10" ItemHeight="35"
                                                                    ValueChanged="@( (string city) => ValueChangeAddr(city) )"
                                                                 Filterable="true"
                                                                 FilterOperator="@StringFilterOperator.Contains">
                                                    <ComboBoxSettings>
                                                        <ComboBoxPopupSettings Width="550px" Height="300px"></ComboBoxPopupSettings>
                                                    </ComboBoxSettings>
                                                    <HeaderTemplate>
                                                        <div class="fw-bold py-2">&nbsp;&nbsp; ที่อยู่</div>
                                                    </HeaderTemplate>
                                                    <ItemTemplate>
                                                        <span>@($"{context.FULLADDR}")</span>
                                                    </ItemTemplate>
                                                </TelerikComboBox>
                                    </div>
                                    <div class="col-md-3">
                                        <span>หมู่/ถนน (Village No. / Road)</span>
                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.AddrMoo" />
                                    </div>
                                </div>

                                <div class="row pt-1" style="font-size: smaller;">
                                    <div class="col-md-3">
                                         <span>รหัสไปรษณีย์ (Postal Code)</span>
                                                 <TelerikTextBox @bind-Value="@userService.DocSet.User.AddrPostCode" Enabled="false" />
                                    </div>
                                    <div class="col-md-3">
                                        <span>ตำบล/แขวง (Sub-district)</span>
                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.AddrTumbon" Enabled="false" />
                                    </div>
                                    <div class="col-md-3">
                                        <span>เขต/อำเภอ (District / Area)</span>
                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.AddrAmphoe" Enabled="false" />
                                    </div>
                                    <div class="col-md-3">
                                        <span>จังหวัด (Province)</span>
                                        <TelerikTextBox @bind-Value="@userService.DocSet.User.AddrProvince" Enabled="false" />
                                    </div>
                                </div>

                                <div class="row pt-1" style="font-size: smaller;">
                                    <div class="col-md-3">
                                        <span>เบอร์โทรศัพท์</span>
                                        <TelerikTextBox @bind-Value="@Mobile" />
                                        @*<input type="text" class="form-control form-control-sm text-center font-weight-bold" @bind-value="Mobile"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />*@
                                    </div>
                                    </div>
                                    <div class="col-md-3">
                                       <span>อีเมล์</span>
                                                <TelerikTextBox @bind-Value="@userService.DocSet.User.Email" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-3 @Isdivlogin" style="font-size: smaller;" id="divlogin">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <div class="row " style="color:white">
                                    <div class="col-md-12">
                                        <i class="fas fa-key fa-2x"></i>&nbsp;<span style="font-size:large">Login</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="btn-group">
                                        <TelerikCheckBox Id="chkIsNewUser" Value="@userService.DocSet.User.IsNewUser"></TelerikCheckBox>
                                        <span style="font-size:medium;">ต้องเปลียนรหัสผ่านเมื่อ Login ครั้งต่อไป</span>&nbsp;
                                        <TelerikCheckBox Id="chkIsProgramUser" Value="@userService.DocSet.User.IsProgramUser"></TelerikCheckBox>
                                        <span style="font-size:medium;">สามารถใช้โปรแกรม</span>&nbsp;
                                        <TelerikCheckBox Id="chkIsUseTimeStampt" Value="@userService.DocSet.User.UseTimeStamp"></TelerikCheckBox>
                                        <span style="font-size:medium;">ออกรายงานบันทึกเวลา</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <a @onclick="@lnkResetPassword" style="color:black;" class="btn btn-default">
                                            <i class="fa fa-key"></i>&nbsp;<span>Reset Password</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-2 @IsdivPermission" id="divPermission">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <div class="row " style="color:white">
                                    <div class="col-md-6">
                                        <i class="fas fa-door-open fa-2x"></i> &nbsp;
                                        <span>Permission Info</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                    </div>

                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color: cornflowerblue !important">
                                                <a class="w-100" data-toggle="collapse" @onclick="@(() =>
                                                                                {
                                                                                        IsVisibleUserGroup = !IsVisibleUserGroup;
                                                                                })">
                                                    <span style="color: black">กำหนดสิทธิ์ ตามกลุ่มการใช้งาน</span>
                                                </a>
                                            </div>
                                            <div class="collapse @(IsVisibleUserGroup ? "show" : "")">
                                                <div class="card-body bg-white">
                                                    @foreach (var ug in userService.DocSet.XGroup) {
                                                        <div class="row">
                                                            <div class="col-12">
                                                            <TelerikCheckBox @bind-Value="@ug.X"></TelerikCheckBox>
                                                            &nbsp;&nbsp;<span>@ug.Name</span>
                                                            </div>
                                                        </div>
                                                        <hr class="mt-1" />
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color: cornflowerblue !important">
                                                <a class="w-100" data-toggle="collapse" @onclick="@(() =>
                                                                                {
                                                                                        IsVisibleCompany = !IsVisibleCompany;
                                                                                })">
                                                    <span style="color: black">สิทธิ์ในสาขา</span>
                                                </a>
                                            </div>
                                            <div class="collapse @(IsVisibleCompany ? "show" : "")">
                                                <div class="card-body bg-white pb-1">
                                                    @foreach (var c in userService.DocSet.XCompany) {
                                                        <div class="row">
                                                            <div class="col-2">

                                               @*             <TelerikCheckBox @bind-Value="@c.X"></TelerikCheckBox>
                                                            &nbsp;&nbsp;<span>@c.CompanyID</span>
*@
                                                            <TelerikCheckBox Value="@c.X" ValueChanged="@((bool value) => ComCheckedChanged(value, c.CompanyID))"></TelerikCheckBox>
                                                            &nbsp;&nbsp;<span>@c.CompanyID</span>
                                                               
                                                            </div>
                                                            <div class="col-10">
                                                                <span>@c.CompanyName</span>
                                                            </div>
                                                        </div>
                                                        <hr class="mt-1" />
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color: cornflowerblue !important">
                                                <a class="w-100" data-toggle="collapse" @onclick="@(() =>
                                                                                {
                                                                                        IsVisibleRCompany = !IsVisibleRCompany;
                                                                                })">
                                                    <span style="color: black">สิทธิ์กลุ่มบริษัท</span>
                                                </a>
                                            </div>
                                            <div class="collapse @(IsVisibleRCompany ? "show" : "")">
                                                <div class="card-body bg-white pb-1">
                                                    @foreach (var rc in userService.DocSet.XRCompany) {
                                                        <div class="row">
                                                            <div class="col-2">
                                                            <TelerikCheckBox @bind-Value="@rc.X"></TelerikCheckBox>
                                                            &nbsp;&nbsp;<span>@rc.RComID</span>
                                                            </div>
                                                            <div class="col-10">
                                                                <span>@rc.RCompanyName</span>
                                                            </div>
                                                        </div>
                                                        <hr class="mt-1" />
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color: cornflowerblue !important">
                                                <a class="w-100" data-toggle="collapse" @onclick="@(() =>
                                                                                {
                                                                                        IsVisibleDashboard = !IsVisibleDashboard;
                                                                                })">
                                                    <span style="color: black">สิทธิ์ใช้ Dashboard</span>
                                                </a>
                                            </div>
                                            <div class="collapse @(IsVisibleDashboard ? "show" : "")">
                                                <div class="card-body bg-white pb-1">
                                                    @foreach (var b in userService.DocSet.XBoard) {
                                                        <div class="row">
                                                            <div class="col-2">
                                                            <TelerikCheckBox @bind-Value="@b.X"></TelerikCheckBox>
                                                            &nbsp;&nbsp;<span>@b.DashBoardID</span>
                                                            </div>
                                                            <div class="col-10">
                                                                <span>@b.Name</span>
                                                            </div>
                                                        </div>
                                                        <hr class="mt-1" />
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header" style="background-color: cornflowerblue !important">
                                                <a class="w-100" data-toggle="collapse" @onclick="@(() =>
                                                                                {
                                                                                        IsVisibleMenu = !IsVisibleMenu;
                                                                                })">
                                                    <span style="color: black">กำหนดสิทธิ์ ตามเมนู</span>
                                                </a>
                                            </div>
                                            <div class="collapse @(IsVisibleMenu ? "show" : "")">
                                                <div class="card-body bg-white pb-1">
                                        @*            @foreach (var m in userService.DocSet.XMenu) {
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <span>@m.MenuName ( @m.MenuID )</span>
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="btn-group"> 
                                                                    <TelerikCheckBox @bind-Value="@m.IsOpen" CssClass="@(m.NeedOpenPermission ? "" : "hidden")">&nbsp;<span>@m.CaptionOpenPermission </span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                    <TelerikCheckBox @bind-Value="@m.IsCreate" CssClass="@(m.NeedCreatePermission ? "" : "hidden")">&nbsp;<span>@m.CaptionCreatePermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                    <TelerikCheckBox @bind-Value="@m.IsEdit" CssClass="@(m.NeedEditPermission ? "" : "hidden")">&nbsp;<span>@m.CaptionEditPermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                    <TelerikCheckBox @bind-Value="@m.IsDelete" CssClass="@(m.NeedDeletePermission ? "" : "hidden")">&nbsp;<span>@m.CaptionDeletePermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                    <TelerikCheckBox @bind-Value="@m.IsPrint" CssClass="@(m.NeedPrintPermission ? "" : "hidden")">&nbsp;<span>@m.CaptionPrintPermission</span></TelerikCheckBox>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr class="mt-1" />
                                                    }*@
                                                         @foreach (var m in userService.DocSet.XMenu.Where(o => o.MenuTypeID == "MENUGROUP").OrderBy(o => o.MenuGroupSort).ToList()) {
                                                        <br />
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <div class="btn-group">
                                                                    <TelerikCheckBox @bind-Value="@m.IsOpen" CssClass="@(m.NeedOpenPermission ? "" : "hidden")">&nbsp; <strong>@m.MenuDesc1 </strong>&nbsp;&nbsp;</TelerikCheckBox>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr class="mt-1" />
                                                        @foreach (var mm in userService.DocSet.XMenu.Where(o => o.MenuTypeID == "MENU" && o.MenuGroupID == m.MenuGroupID).OrderBy(o => o.MenuSubGroupSort).ToList()) {
                                                            <div class="row  pl-4">
                                                                <div class="col-4">
                                                                    <span>@mm.MenuDesc1</span>
                                                                </div>
                                                                <div class="col-8">
                                                                    <div class="btn-group">
                                                                    <TelerikCheckBox @bind-Value="@mm.IsOpen" CssClass="@(mm.NeedOpenPermission ? "" : "hidden")">
                                                                        &nbsp;<span>@mm.CaptionOpenPermission </span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                    <TelerikCheckBox @bind-Value="@mm.IsCreate" CssClass="@(mm.NeedCreatePermission ? "" : "hidden")">&nbsp;<span>@mm.CaptionCreatePermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mm.IsEdit" CssClass="@(mm.NeedEditPermission ? "" : "hidden")">&nbsp;<span>@mm.CaptionEditPermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mm.IsDelete" CssClass="@(mm.NeedDeletePermission ? "" : "hidden")">&nbsp;<span>@mm.CaptionDeletePermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mm.IsPrint" CssClass="@(mm.NeedPrintPermission ? "" : "hidden")">&nbsp;<span>@mm.CaptionPrintPermission</span></TelerikCheckBox>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        @foreach (var mmm in userService.DocSet.XMenu.Where(o => o.MenuTypeID == "FUNCTION" && o.MenuGroupID == m.MenuGroupID).OrderBy(o => o.MenuSubGroupSort).ToList()) {
                                                            <div class="row  pl-4">
                                                                <div class="col-4">
                                                                    <span>@mmm.MenuDesc1</span>
                                                                </div>
                                                                <div class="col-8">
                                                                    <div class="btn-group">
                                                                        <TelerikCheckBox @bind-Value="@mmm.IsOpen" CssClass="@(mmm.NeedOpenPermission ? "" : "hidden")">&nbsp;<span>@mmm.CaptionOpenPermission </span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mmm.IsCreate" CssClass="@(mmm.NeedCreatePermission ? "" : "hidden")">&nbsp;<span>@mmm.CaptionCreatePermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mmm.IsEdit" CssClass="@(mmm.NeedEditPermission ? "" : "hidden")">&nbsp;<span>@mmm.CaptionEditPermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mmm.IsDelete" CssClass="@(mmm.NeedDeletePermission ? "" : "hidden")">&nbsp;<span>@mmm.CaptionDeletePermission</span>&nbsp;&nbsp;</TelerikCheckBox>
                                                                        <TelerikCheckBox @bind-Value="@mmm.IsPrint" CssClass="@(mmm.NeedPrintPermission ? "" : "hidden")">&nbsp;<span>@mmm.CaptionPrintPermission</span></TelerikCheckBox>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
      

    </ContentTemplate>
</SpinLoader>

@code {
    bool isLoading = true;

        string menuCaption = "";
    string menuGroupCaption = "";

    public bool username_readonly { get; set; } = false;
    public string Username { get; set; } = "";
    public string SearchText { get; set; } = "";
    public string lblTopic { get; set; } = "ตั้งค่าผู้ใช้งาน";
    public string Mobile { get; set; }

    bool ShowFilterRow = false;
    string IsdivPermission { get; set; } = "";
    string Isdivlogin { get; set; } = "";
    bool isShowDelete = true;
    bool isShowNew = true;
    public bool IsVisibleUserGroup { get; set; } = true;
    public bool IsVisibleCompany { get; set; } = true;
    public bool IsVisibleRCompany { get; set; } = true;
    public bool IsVisibleDashboard { get; set; } = true;
    public bool IsVisibleMenu { get; set; } = true;

    List<MasterTypeLine> ListGender = new List<MasterTypeLine>();
    List<MasterTypeLine> ListPosition = new List<MasterTypeLine>();
    List<MasterTypeLine> ListDepartment = new List<MasterTypeLine>();
    IEnumerable<vw_ThaiPostAddress> ListAddr;
    public string SelectAddr { get; set; } = "";

    protected override async Task OnParametersSetAsync() {
        if (userService.DocSet == null) {
            userService.DocSet = userService.NewTransaction(login.LoginInfo.CurrentUser, login.LoginInfo.CurrentCompany.CompanyID);
            LoadData();
        }
    }

    protected override async Task OnInitializedAsync() {
        pageHistory.AddPageToHistory(nav.Uri);


        await Task.Run(() => login.CheckLogin());
        await LoadThaiAddr();
        await Task.Run(LoadData);
    }
    protected override void OnInitialized() {

    }

    async void LoadData() {
        LoadDropDownList();

        BindData();
        isLoading = false;
        SetActiveControl();
        await InvokeAsync(StateHasChanged);
    }
       private void SetActiveControl() {
        CheckPermission();
    }
    private void CheckPermission() {
        var menu = LogInService.GetMenuInfo(login.LoginInfo, "9002");
        menuCaption = menu.Name;
        menuGroupCaption = LogInService.GetMenuGroup(login.LoginInfo, menu.GroupID).Name; 
       
        var h = userService.DocSet.User;
        if (h.Username == "") {
            isShowDelete = false;
        }
        if (!login.CanCreate(login.LoginInfo, "9002")) { //9002 User & Permission
            isShowNew = false;
        }
        if (!login.CanDelete(login.LoginInfo, "9002")) {
            isShowDelete = false;
        }
        if (!login.CanOpen(login.LoginInfo, "9002")) {
            nav.NavigateTo("NoPermissionPage");
        }
    }
    private void LoadDropDownList() {
        ListGender = MasterTypeService.ListType("", "GENDER", false);
        ListDepartment = MasterTypeService.ListType("", "DEPARTMENT", false);
        ListPosition = MasterTypeService.ListType("", "JOB POSITION", false);
    }

    void BindData() {
        var h = userService.DocSet.User;
        username_readonly = false;
        Username = "";
        if (h.Username != "") {
            username_readonly = true;
            Username = h.Username;
        }
        Mobile = h.Mobile;

        if (h.Username == "") {
            IsdivPermission = "hidden";
            Isdivlogin = "hidden";
        } else {
            IsdivPermission = "";
            Isdivlogin = "";
        }
        //var isSupperman = LoginService.IsSupperman(LoginService.LoginInfo.CurrentRootCompany.CompanyID, LoginService.LoginInfo.CurrentUser);
        //if (!isSupperman)
        //{
        //    divMenuPermission.Visible = false;
        //}

    }
    async public Task LoadThaiAddr() {
        ListAddr = await Task.Run(() => AddressService.ListThaiPostAddress());
    }
    async void btnNew() {
        var xlogin = login.LoginInfo;
        userService.DocSet = userService.NewTransaction(xlogin.CurrentUser, xlogin.CurrentRootCompany.CompanyID);
        LoadData();
        await InvokeAsync(StateHasChanged);
    }

    #region Save Item
    bool ValidData() {
        var h = userService.DocSet.User;

        bool isvalid = true;
        string Errmsg = "";

        if (Username == "") {
            Errmsg = "Input Username !! ";
            isvalid = false;
        }
        if (h.FirstName == "") {
            Errmsg = "กรุณาระบุ ชื่อ!! ";
            isvalid = false;
        }

        if (h.LastName == "") {
            Errmsg = "กรุณาระบุ นามสกุล!! ";
            isvalid = false;
        }

        if (h.Username == "") {
            var chkDup = MyUserService.GetUserInfo(Username.Trim());
            if (chkDup != null) {
                Errmsg = "มีชื่อผู้ใช้ " + Username.Trim() + "ในระบบแล้ว!! ";
                isvalid = false;
            }
        }

        if (!isvalid) {
            Swal.FireAsync("", Errmsg, "error");
        }
        return isvalid;
    }

    private void Save() {
        PrepairDataSave();
        var rs = MyUserService.Save(userService.DocSet, login.LoginInfo);
        if (rs.Result != "ok") {
            Swal.FireAsync("", rs.Message1, "error");
            return;
        } else {
            userService.DocSet = userService.GetDocSet(userService.DocSet.User.Username, login.LoginInfo.CurrentRootCompany.CompanyID, login.LoginInfo.CurrentUser);
            BindData();
            Swal.FireAsync("", "บันทึกสำเร็จ", "success");
            InvokeAsync(StateHasChanged);
        }
    }

    async void btnSave() {
        isLoading = true;
        if (!ValidData()) {
            return;
        }
        await Task.Run(Save);
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private bool PrepairDataSave() {
        var h = userService.DocSet.User;
        bool isNew = h.Username == "" ? true : false;
        if (h.Username == "") {
            h.Username = Username;
            h.Password = Hash.hashPassword("MD5", MyUserService.GetDefualtPassword());
        }

        h.Mobile = Mobile;
        return isNew;
    }
    //public void ChangeAddr(vw_ThaiPostAddress data) {
    //    userService.DocSet.User.AddrProvince = data.PROVINCE_NAME;
    //    userService.DocSet.User.AddrAmphoe = data.BORDER_NAME;
    //    userService.DocSet.User.AddrTumbon = data.DISTRICT_NAME;
    //    userService.DocSet.User.AddrPostCode = data.DISTRICT_POSTAL_CODE;
  
    //}
    public void ValueChangeAddr(string value) {
        var rcom = login.LoginInfo.CurrentRootCompany.CompanyID;
        var com = login.LoginInfo.CurrentCompany.CompanyID;

        if (!string.IsNullOrEmpty(value)) {
            var addrid = value.ToString();

            var data = AddressService.GetViewThaiPostAddress(addrid);
            if (data != null) {
                userService.DocSet.User.AddrProvince = data.PROVINCE_NAME;
                userService.DocSet.User.AddrAmphoe = data.BORDER_NAME;
                userService.DocSet.User.AddrTumbon = data.DISTRICT_NAME;
                userService.DocSet.User.AddrPostCode = data.DISTRICT_POSTAL_CODE;
            }
        } else {
            SelectAddr = "";
        }
    }
    #endregion

    //void AddAddress() {
    //    nav.NavigateTo($"POSV3/SelectAddr/user");
    //}

    void lnkResetPassword() {
        var h = userService.DocSet.User;
        var rs = MyUserService.ResetPassword(h.Username);

        if (rs.Result != "ok") {
            Swal.FireAsync("", rs.Message1, "error");
            return;
        } else {
            Swal.FireAsync("", "รหัส่ผ่านถูกรีเซ็ตเป็น : " + rs.Message2, "error");
            return;
        }
    }

    async void Back() {
        //nav.NavigateTo($"Master/UserList", false);
        //await InvokeAsync(StateHasChanged);
        var url = pageHistory.GetGoBackPage();
        nav.NavigateTo(userService.PreviousPageUrl);
        await InvokeAsync(StateHasChanged);
    }
       void ComCheckedChanged(bool value, string comid) {
        var com_select = userService.DocSet.XCompany.Where(o => o.CompanyID == comid).FirstOrDefault();
        com_select.X = value;
        //var gg = usergroupService.DocSet.XCompany.Where(o => o.CompanyType == "GROUP").ToList();
        //foreach (var g in gg) {
        //    g.X = false;
        //}
        var chk_com_ingroup = userService.DocSet.XCompany.Where(o => o.CompanyType == "BRANCH" && o.CompnayGroup == com_select.CompnayGroup && o.X == true).ToList();
        var group = userService.DocSet.XCompany.Where(o => o.CompanyType == "COMPANY" && o.CompnayGroup == com_select.CompnayGroup).FirstOrDefault();
        if (chk_com_ingroup.Count > 0) {
            group.X = true;
        } else {
            group.X = false;
        }
    }

}
