@using Microsoft.Extensions.Configuration
@using RobotWasm.Shared.Data.ML.ApiMaster
@using RobotWasm.Shared.Data.ML.DPMBaord.CIMS
@using Telerik.Blazor
@using Telerik.Blazor.Components

<style>
        .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @@keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .k-loader-container, .k-loader-container-overlay{
        position:fixed !important;
    }

    .demo-container {
        /*position: relative;*/
        height: 300px;
        width: 75%;
        margin: 0 auto;
    }

    .loader-container-heading {
        padding-top: 25px;
    }

    .order-summary-row {
        line-height: 2;
    }

    .kd-demo-heading {
        text-transform: none;
        width: 200px;
        margin: 0 auto;
        font-size: 17px;
        color: #555;
        padding-bottom:0.5em;
    }

    .k-loader-container {
        z-index: 1;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h4>Hospital</h4>
        <h5>ข้อมูลสถานพยาบาล Hospital Info.</h5>
    </div>
</div>
<hr />

        <TelerikLoaderContainer Visible="@isLoading">
            <Template>
                <div class="lds-dual-ring"></div>
            </Template>
        </TelerikLoaderContainer>

    <div class="row">
 
        <div class="col-12 text-end">
        <TelerikButton Size="@(ThemeConstants.Button.Size.Medium)"
                       @onclick="@BtnLoad"
                       ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">โหลดข้อมูล</TelerikButton>
            </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-12">
              <TelerikGrid Data="@ndata" 
                             Pageable="true" Sortable="true" Resizable="true" Reorderable="false" Groupable="false">
                        <GridToolBar>
                            <GridCommandButton Command="ExcelExport" Icon="file-excel">Export to Excel</GridCommandButton>
                            <label class="k-checkbox-label"><TelerikCheckBox @bind-Value="@ExportAllPages" /> Export All Pages</label>
                            <span class="k-toolbar-spacer"></span> @* add this spacer to keep the searchbox on the right *@
                            <GridSearchBox />
                        </GridToolBar>
                        <GridExport>
                            <GridExcelExport FileName="telerik-grid-export" AllPages="@ExportAllPages" OnBeforeExport="@OnBeforeExcelExport" />
                        </GridExport>
                        <GridColumns>
                            <GridColumn Field="@(nameof(Hospital.address))" Title="address" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.amphoe))" Title="amphoe" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.Cemail1))" Title="Cemail1" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.Cfax))" Title="Cfax" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.Cname))" Title="Cname" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.Cphone))" Title="Cphone" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.Cradio))" Title="Cradio" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.dataid))" Title="dataid" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.entrydate))" Title="entrydate" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.helipad))" Title="helipad" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_agency))" Title="hosp_agency" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_ambulance))" Title="hosp_ambulance" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_bed))" Title="hosp_bed" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_bed_expand))" Title="hosp_bed_expand" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_bed_used))" Title="hosp_bed_used" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_burn))" Title="hosp_burn" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_code_new))" Title="hosp_code_new" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_code_old))" Title="hosp_code_old" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_morgue))" Title="hosp_morgue" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_morgue_used))" Title="hosp_morgue_used" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_oper_room))" Title="hosp_oper_room" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_oper_room_used))" Title="hosp_oper_room_used" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_stroke))" Title="hosp_stroke" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_surgery_capa))" Title="hosp_surgery_capa" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_trauma))" Title="hosp_trauma" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.hosp_type))" Title="hosp_type" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.image_attachment_1))" Title="image_attachment_1" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.image_attachment_2))" Title="image_attachment_2" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.image_attachment_3))" Title="image_attachment_3" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.incidentid))" Title="incidentid" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.label))" Title="label" Width="200px" />
                            <GridColumn Field="@(nameof(Hospital.latitude))" Title="latitude" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.longitude))" Title="longitude" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.map_label))" Title="map_label" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.originator_incident_name))" Title="originator_incident_name" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.originator_position))" Title="originator_position" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.postcode))" Title="postcode" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.province))" Title="province" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.report_dt))" Title="report_dt" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.subscribername))" Title="subscribername" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.tambol))" Title="tambol" Width="150px" />
                            <GridColumn Field="@(nameof(Hospital.to_ecg))" Title="to_ecg" Width="150px" />
                        </GridColumns>
                    </TelerikGrid>
        </div>
    </div>

@code {
    [Inject] public IJSRuntime JsInterop { get; set; }
    [Inject] public IConfiguration config { get; set; }

    bool ExportAllPages { get; set; } = true;
    public List<string> ExportColumns { get; set; } = new List<string>();
    public bool CancelExport { get; set; }
    public string search { get; set; } = "";
    public Hospital data_set { get; set; }
    public List<Hospital> ndata { get; set; }
    bool isLoading = false;

    //bool VisibleLoaded { get; set; }

    protected override async Task OnInitializedAsync() {
        //await LoadData();
    }

    private void OnSearch(object input) {
        if (ndata != null) {
            ndata = ndata.Where(o =>
         (
            o.label.ToLower().Contains(search)
            || o.amphoe.ToLower().Contains(search)
             || search == ""
         )
     ).ToList();
        }
    }

    async private Task LoadData() {
        try {
            isLoading = true;
            var res = await Http.GetAsync($"api/ApiMaster/GetApiInfo?apiid=Hospital");
            var conn = JsonSerializer.Deserialize<vw_api_master>(await res.Content.ReadAsStringAsync(), new JsonSerializerOptions {
                    PropertyNameCaseInsensitive = true,
                    ReferenceHandler = ReferenceHandler.Preserve
                });
            string url = $"{conn.base_url}{conn.api_url}?province={11}";
            var query = await Task.Run(() => _clientService.GetAllAsync<List<Hospital>>(url));
            if (query.StatusCode != "OK") {
                return;
            }
            ndata = (List<Hospital>)query.Result;
            ndata = ndata.Take(100).ToList();
            isLoading = false;
            await InvokeAsync(StateHasChanged);
        } catch (Exception ex) {
            var rr = ex.Message;
        } finally {
            isLoading = false;
        }
    }

    async void BtnLoad() {
        await LoadData();
    }

    public void OnBeforeExcelExport(GridBeforeExcelExportEventArgs args) {
        if (ExportColumns.Any()) {
            args.Columns = args.Columns.Where(col => ExportColumns.Contains(col.Field)).ToList();
        }

        args.IsCancelled = CancelExport;
    }

}
